<header class="row">
    
    <div id="punkish-topbanner" class="punkish-halfWidth">
        <a name="xhr" id="punkish-logo-large" href="/"><img src="/img/PunkishEidesisOrg.gif" border="0"></a>

        <form id="punkish-searchform" method="GET" action="/">
            <input type="search" id="punkish-q" placeholder="there are none so blind as those who don&#8217;t see">
        </form>

    </div>

    <nav>
        <!-- <a href="/lessons">Lessons</a>  -->
        <!-- <a href="/entries">Entries</a>  -->
        <!-- <a href="/docs">API</a>  -->
        <a href="/About">About</a> 
    </nav>
</header>
