<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Zenodeo</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,300,600" type="text/css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/public/highlight/styles/monokai.css">
    <link rel="stylesheet" href="/public/css/styles.css">

    <link rel="icon" type="image/png" href="/public/Skeleton-2.0.4/images/favicon.png">
    <script src="/public/highlight/highlight.pack.js"></script>
</head>
<body>
<div class="container">
    {{> head}}

    {{{content}}}
</div>
</body>
</html>