<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Zenodeo</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize.css"> -->
    <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize-7.0.0.min.css">
    <link rel="stylesheet" href="/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/highlight/styles/monokai.css">
    <link rel="icon" type="image/png" href="/Skeleton-2.0.4/images/favicon.png">
    <script src="/highlight/highlight.pack.js"></script>
    <style>
header {margin-bottom: 3em;}
nav a, nav b {margin-right: 0.75em;}
    </style>
</head>
<body>
    <div class="container">
        <header class="row">
            <nav>
                <b>zenodeo</b> 
                <a href="/docs">docs</a>
                <a href="/tos">terms of service</a>
                <a href="/install">install</a>
                <a href="/about">about</a>
            </nav>
        </header>

        {{{ content }}}
    </div>
</body>
</html>