<section class="row">
    <h1>About</h1>

    <p>Zenodo has an <a href="https://www.zenodo.org/api/" target="_blank">API</a>, but we wanted an API that would serve the needs of the Biodiversity Literature Repository community. Additionally, we wanted to provide more documentation and hand-holding than is provided by Zenodo. While we were at it, we also decided to document the API using the <a href="https://www.openapis.org" target="_blank">OpenAPI 3.0</a> specification.</p>

    <div class="info" id="api_info">
        <div class="info_title">Zenodeo API documentation for BLR</div>
        <div class="info_description markdown"><p><code>nodejs</code> interface to the Zenodo/BLR community collection</p>
        </div>
        
        <div class="info_name" data-sw-translate="">Created by Puneet Kishor</div>
        <div class="info_url" data-sw-translate="">See more at <a href="https://punkish.org/About">http://punkish.org/About</a></div>
        <div class="info_email"><a target="_parent" href="mailto:punkish@plazi.org?subject=Zenodeo API documentation for BLR" data-sw-translate="">Contact the developer</a></div>
        <div class="info_license"><a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0 Public Domain Dedication</a></div>
    </div>
</section>