<h1>Examples</h1>

<section id="example1" class="row">
    <h2>Web page with images</h2>

    <p>Let’s say you want to make a web page that displays images for all records with the word 'nymphalidae' in their text. Below is a script that will do the work <i>(change the value  for a different query)</i>:</p> <div class="qryStr" id="q" contenteditable="true" onkeyup="updateCode();">nymphalidae</div>
    <br clear="both">

<pre><code class="js">const url = "v2/treatments?page=1&q=<span id="urlQ">nymphalidae</span>&size=<span id="urlSize">30</span>";

fetch(url)
    .then(function(response) {
        if (!response.ok) {
            throw new Error('HTTP error, status = ' + response.status);
        }

        return response.json();
    })
    .then(function(res) {
        const result = document.getElementById('result');
        result.innerHTML = JSON.stringify(res, null, 2);
    });</code></pre>

    <button class="button-primary" onclick="getTreatments();">Run Code</button>
    <div id="loader" style="display:block; visibility: hidden;"></div>
<pre id="result" class="animate-bottom" style="display:none;"></pre>
</section>

<script>
var updateCode = function() {
    document.getElementById('urlQ').innerHTML = document.getElementById('q').innerHTML;
};

const getTreatments = function() {
    document.getElementById('result').style.display = 'none';
    document.getElementById('loader').style.visibility = 'visible';
    const q = document.getElementById('q').innerHTML;
    const url = `v2/treatments?page=1&size=30&q=${q}`;

    fetch(url)
        .then(function(response) {
            if (!response.ok) {
                throw new Error('HTTP error, status = ' + response.status);
            }

            return response.json();
        })
        .then(function(res) {
            const result = document.getElementById('result');
            result.innerHTML = JSON.stringify(res, null, 2);

            document.getElementById("loader").style.display = "none";
            document.getElementById("result").style.display = "block";
        });
};

var codes = document.getElementsByTagName("pre");
if (typeof(codes) !== 'undefined' && codes != null) {
    for (var i=0, j=codes.length; i<j; i++) {
        hljs.highlightBlock(codes[i]);
    }
}
</script>