<section class="row">
    <h1>Terms of Service</h1>
    <ul>
        <li>
            <b>No guarantees</b>

            <p>Just like with life itself, no guarantees come with this application. Do your own due diligence.</p>
        </li>
        <li>
            <b>Be nice</b>

            <p>If you find a mistake, tell us. If you improve are work, contribute your <a href="https://github.com/punkish/zenodeo" target="_blank">improvement back to us</a> so everyone can benefit. If someone needs help, reach out.</p>
        </li>
        <li>
            <b>Give us credit</b>
            
            <p>All the work is free to use and reuse under a CC0 Public Domain Dedication. This means we place no restriction on the work and we also do not legally obligate you to give us attribution. However, as scientists, we thrive on being cited and, to be honest, it feels good to be acknowledged. So, please be nice and give us credit if you use our work.</p>
        </li>
    </ul>
</section>
